---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
# don't indent public, private and protected
AccessModifierOffset: -4
BreakBeforeBraces: Allman
# respect user choice for line breaking
ColumnLimit: 0
BreakConstructorInitializersBeforeComma: true
ConstructorInitializerAllOnOneLineOrOnePerLine: false
SortIncludes: false
PointerAlignment: Left
NamespaceIndentation: All
...

