[submodule "lib/bgfx-cmake"]
	path = lib/bgfx-cmake
	url = https://github.com/degenerated1123/bgfx-cmake.git
[submodule "lib/ZenLib"]
	path = lib/ZenLib
	url = https://github.com/degenerated1123/ZenLib.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
[submodule "lib/tinydir"]
	path = lib/tinydir
	url = https://github.com/cxong/tinydir.git
[submodule "lib/bullet3"]
	path = lib/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
