language: c++

addons:
    apt:
        sources:
            - ubuntu-toolchain-r-test
            - george-edison55-precise-backports
        packages:
            - g++-6
            - gcc-6
            - cmake
            - cmake-data

git:
  submodules: false

script:
  - if [ "$CXX" = "g++" ]; then export CXX="g++-6" CC="gcc-6"; fi
  - git submodule update --init --recursive
  - mkdir -p build
  - cd build
  - cmake ..
  - make -j2
